  .demo-card-wide.mdl-card {
    width: 320px;
    height: 320px;
    float: left;
    margin: 1rem;
    position: relative;
  }

  .demo-card-small.mdl-card {
      width: 100%;
      min-height: 50px;
      float: left;
      position: relative;
    }

  .demo-card-wide.mdl-card:hover {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
  }

  .demo-card-small.mdl-card:hover {
      box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
    }

  .scroll {
    overflow: scroll !important;
  }

  .cloudy {
    background: #ff9800;
  }

  .sunny {
      background: #ff9800;
  }

  .windy {
      background: #03a9f4;
  }

  .row {
        background: #fff;
    }

  .demo-card-wide > .mdl-card__accent {
    background: #ff9800;
  }

  body {
    padding: 20px;
    background: #fafafa;
    position: relative;
  }